body{
	font-family: "Poppin", sans-serif;
	background: url(18.jpg);
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.book{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

input{
	display: none;
}
img{
	width: 95%;
	height: 95%;
	transition: 1s;
	padding-left: 10px;
}

.flip-book{
	width: 450px;
	height: 550px;
	position: relative;
	perspective: 1500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1s;
	
}
p{
	font-size: 14px;
	line-height: 24px;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
	background: #feb7ef;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 15px 15px 0;
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #feb7ef;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 0 0 15px;
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#p1{
	z-index: 10;
}
#p2{
	z-index: 9;
}
#p3{
	z-index: 8;
}
#p4{
	z-index: 7;
}
#p5{
	z-index: 6;
}
#p6{
	z-index: 5;
}
#p7{
	z-index: 4;
}
#p8{
	z-index: 3;
}
#p9{
	z-index: 2;
}
#p10{
	z-index: 1;
}

#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}

#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}

#c5:checked ~ .flip-book #p5{
	transform: rotateY(-180deg);
	z-index: 5;
}

#c6:checked ~ .flip-book #p6{
	transform: rotateY(-180deg);
	z-index: 6;
}

#c7:checked ~ .flip-book #p7{
	transform: rotateY(-180deg);
	z-index: 7;
}

#c8:checked ~ .flip-book #p8{
	transform: rotateY(-180deg);
	z-index: 8;
}

#c9:checked ~ .flip-book #p9{
	transform: rotateY(-180deg);
	z-index: 9;
}

#c10:checked ~ .flip-book #p10{
	transform: rotateY(-180deg);
	z-index: 10;
}
